img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#container{
    position: relative;
    color: aliceblue;
    
}

#text{
    position: absolute;
    top: 300px;
    text-align: center;
    color: black;
    font-size: 2em;
    font-style: italic;
}